﻿<h1>Home/Index/1</h1>

<div>
    <button onclick="signIn()">SignIn</button>
</div>

<div>
    <button onclick="callApi()">CallApi</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
<script src="~/index.js"></script>
