﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
    <div>
        <a asp-controller="Admin" asp-action="Index">Admin</a>
        <a asp-controller="Admin" asp-action="Administrator">Administrator</a>
        <a asp-controller="Admin" asp-action="Manager">Manager</a>

        <p>
            authenticated = @ViewBag.IsAuthenticated
        </p>
        <p>
            Name = @ViewBag.Name
        </p>
    </div>
</body>
</html>