﻿[<a asp-controller="Measurements" asp-action="Index">Index</a>]
[<a asp-controller="Measurements" asp-action="Array">Array</a>]
[<a asp-controller="Measurements" asp-action="Admin">Admin</a>]
@if (User.Identity.IsAuthenticated)
{
    <text>
        [<a asp-controller="Measurements" asp-action="LogOut">Log out</a>]
    </text>
}
