﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Admin" asp-action="LogOff">Log off</a>
    </div>
</body>
</html>