﻿@model Authorization.Basics.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>title</h2>
<form asp-controller="Admin" asp-action="Login" method="post">
    <div asp-validation-summary="All">

    </div>

    <input hidden asp-for="ReturnUrl"/>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <p>
        <button type="submit">Log In</button>
    </p>
</form>
